.env
.ruff_cache/
.venv**
*.sample.*
**/__pycache__/
**/*.wip.py
assets/
assets/attu-bot.toml
!assets/static/
!assets/templates/
backups/
config/
notes/
wip/

# allow package files for test runner
!package.json
!package-lock.json
!pyproject.toml
