.aws
.env
.venv**
*.db
*.keytab
*.sample.*
*.sql
attu-bot.toml
**/__pycache__/
**/*.wip.py
.ruff_cache/
assets/
!assets/templates/
!assets/static/
backups/
config/
wip/
notes/

# Allow package files for test runner
!package.json
!package-lock.json
!pyproject.toml
