# python bytecode
__pycache__/
*.py[cod]
*$py.class

# unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/

# pyenv
.python-version

# environments
.env
.venv
venv/
.venv-*

# type checker / linter caches
.ruff_cache/

# node.js
node_modules/
package-lock.json

# config files
attu-bot.toml

# wip files
*.wip.py
wip/

# databases
*.db
*.sql

# editor
.vscode/*
.claude/

assets/*
!assets/templates/
!assets/templates/**
!assets/static/
!assets/static/**

# notes
notes/*
!notes/embed_usage.md
!notes/button_usage.md
!notes/starboard.md
!notes/timekeeping.md
!notes/comment_style.md
!notes/testing.md
